body {
    background-color: rgb(172, 197, 230);
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 50px;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

#marco {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.btn-agregar {
    background-color: #5bc0de;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-regresar {
    background-color: #ffc107;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}